<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CurrencyRatesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wsparam.strikeiron.com/StrikeIron/ForeignExchangeRate3/CurrencyRates"
                binding="basicHttpBinding" bindingConfiguration="CurrencyRatesSoap"
                contract="StrikeIronForEx.CurrencyRatesSoap" name="CurrencyRatesSoap" />
        </client>
    </system.serviceModel>
</configuration>